{% extends "base_featured.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: all-options.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
<!-- "mdcs/extra/one_column.html" base_featured.html --> 
<!-- {% extends "mdcs/extra/one_column.html" %}
{% extends "base_featured.html" %}
 -->
{% endcomment %}

{% block menu %}{% include 'menu.html' with active_tab='options' %}{% endblock %}
}
{% block title %}<h3>All Options</h3>{% endblock %}

{% block content %}
<div style="width: 800px">
<div class="left" style="width: 350px; float: left">
	<div class="clearer">&nbsp;</div>
	<br/>
	<img src="{% static 'resources/img/visualize_data.png' %}" width="64" height="64" alt="" class="left bordered" />
	<h4><a href="https://nanomine.oit.duke.edu:8443/viz">Visualize {{CUSTOM_DATA}} data</a></h4>
	<p>Click here to visualize the {{CUSTOM_DATA}} data in NanoMine.</p>
	<div class="clearer">&nbsp;</div>

    <div class="clearer">&nbsp;</div>
    <img src="{% static 'resources/img/excel.png' %}" width="64" height="64" alt="" class="left bordered" />
    <h4><a href="/XMLCONV">Curate Your {{CUSTOM_DATA}} Using Uploader</a></h4>
    <p>Click here to download and upload your filled-in Excel template. This is the simplest way. 
    {% if not user|has_perm:'curate.curate_access' %}
    <font color="red">(Login Required)</font>
    {% endif %}
    </p>
    <div class="clearer">&nbsp;</div>

    {% if user|has_perm:'compose.compose_access' %}
    <div class="clearer">&nbsp;</div>
    <img src="{% static 'resources/img/edit-big.png' %}" width="64" height="64" alt="" class="left bordered" />
    <h4><a href="compose">Compose a template</a></h4>
    <p>Click here to compose your own template.</p>
    <div class="clearer">&nbsp;</div>
    {% endif %}
</div>

<div class="right" style="width: 350px; float: right">
    <div class="clearer">&nbsp;</div>
    <br/>
    <img src="{% static 'resources/img/search-big.png' %}" width="64" height="64" alt="" class="left bordered" />
    <h4><a href="explore">Explore the repository</a></h4>
    <p>Click here to search for {{CUSTOM_DATA}} in the repository using flexible queries.</p>
    <div class="clearer">&nbsp;</div>
    
    <div class="clearer">&nbsp;</div>
    <img src="{% static 'resources/img/edit-big.png' %}" width="64" height="64" alt="" class="left bordered" />
    <h4><a href="curate">Curate your {{CUSTOM_DATA}} online</a></h4>
    <p>Click here to select a form template and then fill out the corresponding form. This is the more tedious way. 
    {% if not user|has_perm:'curate.curate_access' %}
    <font color="red">(Login Required)</font>
    {% endif %}
    </p>
    <div class="clearer">&nbsp;</div>
	
</div>
</div>
<div class="clearer">&nbsp;</div>

{% endblock %}

