<!-- 
################################################################################
#
# File Name: Two_pt_MCR_landing.html
# Application: templates
# Description: 
#
# Modified by: Akshay Iyer, July 7, 2017
# Customized for NanoMine
#
################################################################################
-->
<html>
<body>
{% extends 'base_featured.html' %}
{% load staticfiles %}


{% block title %}<h1><span>Physical Descriptor</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='stats_tool' %}{% endblock %}
{% block content%}

<h3>Coming Soon!</h3>

<hr>
	<h4>Reference</h4>
	<p>Xu, H., Li, Y., Brinson, C. and Chen, W., 2014. A descriptor-based design methodology for developing heterogeneous microstructural materials system. Journal of Mechanical Design, 136(5), p.051007.</p>
	<p>Xu, H., Dikin, D.A., Burkhart, C. and Chen, W., 2014. Descriptor-based methodology for statistical characterization and 3D reconstruction of microstructural materials. Computational Materials Science, 85, pp.206-216.</p>

{% endblock %}
</body>
</html>