<!-- 
################################################################################
#
# File Name: DielectricFEA2DCheckProgress.html
# Application: templates
# Description: 
#
#
# Modified by: He Zhao, Aug 17, 2015
# Customized for NanoMine
#
################################################################################
-->

{% extends "base_featured.html" %}
{% load staticfiles %}


{% block title %}<h1><span>Dielectric Permittivity 2D FEA</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='simulate_tool' %}{% endblock %}
{% block content%}
    
<!--<h1>2D Dielectric Permittivity Simulation Using FEA</h1>-->


<h3>Check Job Progress </h3><br>

<form method='POST'>  {% csrf_token %}

<p> Enter job ID<br><input type='text' name='job_ID' value="{{defaultID}}" required>
</p>
<input type='submit' value='Check Progress' >
<br><br>
</form>

<h4>Input Parameters Submitted</h4>
<div>Polymer matrix material:</div> <p style="color:#0000FF">{{w1}}</p>
<div>Particle: </div>               <p style="color:#0000FF">{{w2}}</p>
<div>Surface treatment: </div>      <p style="color:#0000FF">{{w3}}</p> 
<div>Volume fraction: </div>        <p style="color:#0000FF">{{w4}}</p>
<div>Interphase thickness [nm]: </div>   <p style="color:#0000FF">{{w5}}</p>
    
{% if finish == 0 %}
    <!--<meta http-equiv="refresh" content="15" >-->
    <h4>Job Progress</h4>
    <div style="color:#FF0000">{{s1}}</div><br>
    <div style="color:#FF0000">{{s3}}</div><br>
    <div style="color:#FF0000">{{s7}}</div><br>
    <div style="color:#FF0000">{{s2}}</div><br>
    <div style="color:#FF0000">{{s5}}</div><br>
    <div style="color:#FF0000">{{s4}}</div><br>
    <div style="color:#FF0000">{{s6}}</div><br>
    <div style="color:#FF0000">{{s8}}</div><br>
    <div style="color:#FF0000">{{s9}}</div><br>
    <img src="http://nanomine.northwestern.edu/nanomine/DielectricFEA2D/busy.gif" alt="Busy" style="width:50px"><br>
{% endif %}

{% if finish == 1 %}  
    <h4>Your job has been completed.</h4><br>
    <h5>Nanofiller Microstructure</h5>
    <img src="{{geom}}" alt="Structure" style="width:500px"><br>
    <h5>Complex Dielectric Spectroscopy</h5>
       <img src="{{ep}}" alt="Real Permittivity" style="width:500px"><br>
       <p>Click <a href="{{ep_link}}">here</a> to download CSV file of real permittivity result.</p>
       <img src="{{epp}}" alt="Imaginary Permittivity" style="width:500px" /><br>  
       <p>Click <a href="{{epp_link}}">here</a> to download CSV file of imaginary permittivity result.</p>
{% endif %}  
    
{% endblock %}