{% extends 'base_featured.html' %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: login.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h1>Login</h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='login' %}{% endblock %}

{% block content %}
    <style>
        table, tr, td {
            border: none
        }
    </style>
	{% include 'commons/forms/login.html' %}
{% endblock %}
