<!-- 
################################################################################
#
# File Name: MCFEACheckProgress.html
# Application: templates
# Description: 
#
#
# Modified by: Zijiang Yang, June 4, 2015
# Customized for NanoMine
#
################################################################################
-->

{% extends 'nmrr/extra/small_intro.html' %}
{% load staticfiles %}


{% block title %}<h1><span>Charge transport prediction in nanodielectrics using combined Monte Carlo and FEA</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='simulate_tool' %}{% endblock %}
{% block content%}

<h3>Check Job Progress </h3><br>

<form method='POST'> {% csrf_token %}
<p>Enter job ID<br><input type='text' name='job_ID' value="{{defaultID}}" required></p>
<input type='submit' value='Check Progress' >
<br><br>
</form>

{% if finish == 0 %}
	<p>Simulation may take more than a hour. Please wait.</p>
	<img src="http://nanomine.northwestern.edu/nanomine/DielectricFEA2D/busy.gif" alt="Busy" style="width:50px"><br>
{% endif %}

{% if finish == 1 %}
	<h4>Your job has been completed.</h4><br>
	<h5>Energy histgram</h5>
	<img src="{{ en_img }}"><br>
	<h5>traveling distance</h5>
	<img src="{{ tra_img }}"><br>
	<h5>Click <a href="{{ out_csv }}" download>here</a> to download output data.</h5>
        <p>The output file is a M+1 by N data sheet: the first row records N time points (predefined by users), and rest M rows record the traveling
        distance charge carrier at each time point (M carriers in total). The transport behavior of charge mobility and transient distance can be
        extracted from the data.</p>
{% endif %}
{% endblock %}







