{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: menu.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
# 		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}
<ul class="dropdown sf-menu">
    <li class="{% if active_tab == 'home' %} selected {% endif %}"><a href="/">Home</a></li>
    <li class="{% if active_tab == 'options' %} selected {% endif %}">
        <a href="/all-options">Database<i class="fa fa-angle-double-right"></i></a>
        <ul>
            <li><a href="https://nanomine.oit.duke.edu:8443/viz" target="_blank">Visualize Data</a></li>
            <li><a href="/explore">{{ CUSTOM_EXPLORE }}</a></li>
            <li><a href="/XMLCONV">{{ CUSTOM_CURATE }}</a></li>
            <li><a href="/curate">Online Curation</a></li>
        </ul>
    </li>
    <li class="{% if active_tab == 'stats_tool' %} selected {% endif %}">
        <a href="/stats_tool">Module Tools<i class="fa fa-angle-double-right"></i></a>
        <ul>
            <li><a href="/Two_pt_MCR">Microstructure Characterization and Reconstruction</a></li>
	    <li><a href="/dynamfit">Dynamfit</a></li>
            <li><a href="/AUTOFIT">Interphase Relaxation Model (coming soon)</a></li>
            
        </ul>
    </li>
    <li class="{% if active_tab == 'simulate_tool' %} selected {% endif %}">
        <a href="/simulate_tool">Simulation<i class="fa fa-angle-double-right"></i></a>
        <ul>
            <li><a href="http://reccr.chem.rpi.edu/polymerizer/index.html" target="_blank">Polymerizer</a></li>
            <li><a href="/FEA2D">Dielectric FEA (coming soon)</a></li>
            <li><a href="/MCFEA">Monte Carlo & FEA (coming soon)</a></li>
        </ul>
    </li>

    
    {% if user.is_authenticated %}
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li class="{% if active_tab == 'login' %} selected {% endif %}"><a href="/login">Login</a></li>
    {% endif %}
</ul>
