{% extends 'nmrr/extra/small_intro.html' %}
{% load staticfiles %}


{% block title %}<h1><span>3D descriptor_based microstructure characterization and reconstruction</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='stats_tool' %}{% endblock %}
{% block content%}

<h3>Your job has now been submitted. </h3><br>

<p>Your job ID is: {{jobid}}. Please save it for future reference. </p>
<p>Your job may be currently running or queued. Check the status of your job at: <a href="/RECONCheck" > Job Progress Checking Tool </a></p>
<p>Do not refresh this page. Otherwise your job will be re-submitted. Please click <a href="/RECON">here</a> to submit new parameters for a new job.</p>

{% endblock %}
