

{% extends 'base_featured.html' %}

{% load staticfiles %}

{% comment %}
<!-- 
################################################################################
#
# File Name: simulate_tool.html
# Application: templates
# Description: index pages for simulation tools
#
# Modified by: He Zhao, Aug 17, 2015
# Customized for NanoMine
#
################################################################################
-->
{% endcomment %}

{% block menu %}{% include 'menu.html' with active_tab='simulate_tool' %}{% endblock %}

{% block title %}
<h3><span>Material Property Simulation</span></h3>
{% endblock %}

{% block description%}
We provide online version of physics-based simulation tools that take advantage of our most recent development in viscoelasticity and dielectric relaxation theories for interphase analysis in nanocomposites, statistical structure-property correlation models, as well as materials optimization methods.
{% endblock %}

{% block content%}

<style>
  .left {
    float: left
  }
  .right {
    float: right
  }
  .content-separator {
    clear: both
  }
</style>

<div class="left" style="width: 800px">

<div class="content-separator"></div>

<div>
<div class="float left" style="width: 300px">
  <img src= {% static 'resources/img/prop_simu.png' %}  />
</div>

<div class="float right" style="width: 400px">
  <h4><span><a href="http://reccr.chem.rpi.edu/polymerizer/index.html" target="_blank">Polymerizer</a></span></h4> 
  <p>Polymerizer is an online application for prediction of surface energy for nanocomposites featuring user-defined polymer structure input and structure-property MQSPR. This web app is in collaboration with and maintained by Rensselaer Polytechnic Institute. </p>
</div>

</div>

<div class="content-separator"></div>

<div>
<div class="float left" style="width: 300px">
  <img src={% static 'resources/img/FEA_dielectrics.png' %} />
</div>

<div class="float right" style="width: 400px">
  <h4><span><a href="/FEA2D">Prediction of Dielectric Constant in Nanodielectrics (currently not available) </a></span> </h4> 
  <p>This web app simulates the dielectric spectroscopy in nanocomposites with explicit implementation of microstructure dispersion as well as interphase relaxation model. This project is in collaboration with Rensselaer Polytechnic Institute.</p>
</div>
</div>

<div class="content-separator"></div>

<div>
<div class="float left" style="width: 300px">
  <img src={% static 'resources/img/MCFEA.jpg' %} />
</div>

<div class="float right" style="width: 400px">
  <h4><span><a href="/MCFEA">Integration of Monte Carlo and Finite Element Analysis in Nanodielectrics (currently not available) </a></span> </h4> 
  <p>This web app simulates the charge transport in dielectric polymers and their nanocomposites by compling finite element analysis and Monte Carlo. This project is in collaboration with Rensselaer Polytechnic Institute.</p>
</div>
</div>






</div>



{% endblock %}
