<!--################################################################################
#
# File Name: Submission_notify.html
# Application: templates
# Description: 
#
# Created by: Akshay Iyer, Feb. 14, 2017
# Customized for NanoMine
#
################################################################################
-->
{% extends 'base_featured.html'%}
{% load staticfiles %}
{% load  auth_extras %}

{% block title %}<h1><span>Processing Complete</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='stats_tool' %}{% endblock %}
{% block content%}

<h3>Your request has been processed successfully!!</h3>
<br>
	<p>You will receive an email with a unique Job ID soon.</p>
<br>
    <a href='http://nanomine.northwestern.edu:8000/Two_pt_MCR'>Return to Microstructure Characterization and Reconstruction Homepage</a>
<br>
    <a href='http://nanomine.northwestern.edu:8000/'>Return to NanoMine Homepage</a>    


<hr>
	<h4>Reference</h4>
	<p>Rintoul, M.D. and Torquato, S., 1997. Reconstruction of the structure of dispersions. Journal of Colloid and Interface Science, 186(2), pp.467-476.</p>
	<p>Yeong,C. and Torquato,S., 1998. Reconstructing random media Physical Review E, vol. 57, no. 1, p. 495</p>
	<p>Liu, Y., Greene, M.S., Chen, W., Dikin, D., Liu, W.K., <i>Computational Microstructure Characterization and Reconstruction for Stochastic Multiscale Design</i>, Computer Aided Design, 45 (1), 65-76, 2013 </p>
	<p>Yu, S., Zhang, Y., Wang, C., Lee, W.K., Dong, B., Odom, T.W., Sun, C. and Chen, W., 2017. Characterization and design of functional quasi-random nanostructured materials using spectral density function. Journal of Mechanical Design, 139(7), p.071401.</p>
	<p>Xu, H., Li, Y., Brinson, C. and Chen, W., 2014. A descriptor-based design methodology for developing heterogeneous microstructural materials system. Journal of Mechanical Design, 136(5), p.051007.</p>
	<p>Xu, H., Dikin, D.A., Burkhart, C. and Chen, W., 2014. Descriptor-based methodology for statistical characterization and 3D reconstruction of microstructural materials. Computational Materials Science, 85, pp.206-216.</p>
</hr>


{%endblock%}    
